body {
    font-family: sans-serif;
    /* overflow: hidden; */
}

header {
    background-color: #f0f0f0;
    height: 5vh;
}

footer {
    height: 2vh;
}

h1 {
    font-size: 24px;
    margin: 0;
}

main {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

.hero img {
    height: 30vh;
    max-width: 500px;
}

.hero-text {
    text-align: center;
    padding: 20px;
    height: 13vh;
}

.about {
    margin-top: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 40vh;
}

.project {
    margin: 10px;
    width: 300px;
}

.project img {
    width: 100%;
}

.project h3 {
    font-size: 18px;
    margin: 10px 0;
}

.contact {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#canvas {
    border: 1px solid black;
    /* width: 100%; */
    height: 40vh;
  }